enviarcorreo.json
{
  "name": "My workflow 3",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1Wm2uFWQfVfQiXSROon8-uhG9eL20s9R1",
          "mode": "list",
          "cachedResultName": "00_Trigger",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1Wm2uFWQfVfQiXSROon8-uhG9eL20s9R1"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -100,
        0
      ],
      "id": "a7400da5-8804-4409-a7af-232efaa65c0d",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "74F0MxkH5moXDAyQ",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "ralbiol45@gmail.com",
        "subject": "Archivo nuevo",
        "emailType": "text",
        "message": "Esto es un nuevo fichero",
        "options": {
          "attachmentsUi": {
            "attachmentsBinary": [
              {}
            ]
          }
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        420,
        0
      ],
      "id": "5f407c98-e3bc-499f-9344-e67fa01eb408",
      "name": "Gmail",
      "webhookId": "a3ab7530-817b-4c6b-a24c-e013a15a8c4d",
      "credentials": {
        "gmailOAuth2": {
          "id": "C7iU4vbTi1mDVJa8",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.webViewLink }}",
          "mode": "url"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        120,
        0
      ],
      "id": "0634e50a-2a55-49f3-8494-a462408b9301",
      "name": "Google Drive",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "74F0MxkH5moXDAyQ",
          "name": "Google Drive account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive": {
      "main": [
        [
          {
            "node": "Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "5c776cb3-772f-439d-8693-95324ef60e76",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6b2a1bf005524a2b8f2bd3c91b03a93eaf531dc87c83148fa1d6bd925e15dadd"
  },
  "id": "vUSZs0VZFJVlXNFc",
  "tags": []
}