RAG_Input.json
{
  "name": "RAG_Input",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1u9HX_upd43M8IyMZZ1t-AEjV6w-jZXaD",
          "mode": "list",
          "cachedResultName": "Ecommerce",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1u9HX_upd43M8IyMZZ1t-AEjV6w-jZXaD"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "8c6eaa1b-71dd-4763-86c2-a51d31502383",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "74F0MxkH5moXDAyQ",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "ecommerce",
          "mode": "list",
          "cachedResultName": "ecommerce"
        },
        "options": {
          "pineconeNamespace": "NameSaceEcommerce"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.2,
      "position": [
        440,
        0
      ],
      "id": "37e1238c-31c6-4185-b8bf-7b3d6ed60f39",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "6bQGO5Yz9KRSGM4N",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.webViewLink }}",
          "mode": "url"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        220,
        0
      ],
      "id": "e3282315-b274-4cc7-8ac1-4373341c78c3",
      "name": "Google Drive",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "74F0MxkH5moXDAyQ",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        380,
        180
      ],
      "id": "963d51ae-2153-4290-b96a-6945eea6cf67",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "vrCTX8LlU85H9Ouv",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "data",
                "value": "={{ $json.name }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        580,
        180
      ],
      "id": "bc48cbbb-b152-49f7-a807-a40781a91d7e",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkSize": 200,
        "chunkOverlap": 20
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterTokenSplitter",
      "typeVersion": 1,
      "position": [
        640,
        340
      ],
      "id": "6b2fa1d9-a0f4-413d-ae64-87ead3bb8b58",
      "name": "Token Splitter"
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Token Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "75aa0898-dbf1-4e63-8251-5e3eb472179f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6b2a1bf005524a2b8f2bd3c91b03a93eaf531dc87c83148fa1d6bd925e15dadd"
  },
  "id": "wZYYgFjitP7Ovsvc",
  "tags": []
}