.json/Agente_RAG.json
{
  "name": "Agente_RAG",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "a0f590ed-fdea-4abb-9d94-6f22fbe3ab5a",
      "name": "When chat message received",
      "webhookId": "97a4881a-9e75-4472-be93-a0d36d11f36a"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=#Rol\nEres un asistente capaz de contestar preguntas del usuario basándote solo en información de la herramienta Ecommerce\n#Tareas\n- Tu función principal es responder a este mensaje {{ $json.chatInput }}\n\n- Utiliza información de la herramienta Wikipedia\n\n#Notas\n- Tus respuestas deben ser claras y concisas, no debes exceder los 200 caracteres",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        180,
        20
      ],
      "id": "2f50e738-c80f-47ef-b0e9-4f3e0174982d",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        220,
        240
      ],
      "id": "a54870eb-1502-448e-8e50-47c94266dec7",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "vrCTX8LlU85H9Ouv",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        320,
        240
      ],
      "id": "34252d34-c02b-4ea4-a0a8-8852d7e33fff",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "pineconeIndex": {
          "__rl": true,
          "value": "ecommerce",
          "mode": "list",
          "cachedResultName": "ecommerce"
        },
        "options": {
          "pineconeNamespace": "NamesSpaceEcommerce"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.2,
      "position": [
        440,
        340
      ],
      "id": "ab90a2da-3f53-4a0d-815b-af4a37b971b8",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "6bQGO5Yz9KRSGM4N",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        380,
        480
      ],
      "id": "d001327c-c9e7-4fbb-99c6-63f3893f0264",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "vrCTX8LlU85H9Ouv",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        760,
        300
      ],
      "id": "52c7361d-44a2-4f95-8099-5f6896cb8662",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "vrCTX8LlU85H9Ouv",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "description": "Esa herramienta va a dar información sobre el Ecommerce"
      },
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1.1,
      "position": [
        500,
        160
      ],
      "id": "60bb8884-a3d5-4b7f-8df2-33b2474c93fa",
      "name": "Ecommerce"
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "ai_vectorStore": [
        [
          {
            "node": "Ecommerce",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Ecommerce",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Ecommerce": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "8c467d9b-6322-4db1-b70e-a7a2a9a30ef9",
  "meta": {
    "instanceId": "6b2a1bf005524a2b8f2bd3c91b03a93eaf531dc87c83148fa1d6bd925e15dadd"
  },
  "id": "tlXypVmkv2aZOg5G",
  "tags": []
}