.json/Agente_wikipedia.json
{
  "name": "AgenteI",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -280,
        0
      ],
      "id": "e877e315-1cea-44fe-a83b-3dde580596f4",
      "name": "When chat message received",
      "webhookId": "0657c378-dc6d-4435-881e-5364baabdf87"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -60,
        200
      ],
      "id": "11119e19-566a-4274-b1d2-115127c398be",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "vrCTX8LlU85H9Ouv",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        40,
        200
      ],
      "id": "fa3bf58e-7f69-4495-850a-b69fc088ff7c",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=#Rol\nEres un asistente capaz de contestar preguntas del usuario basandote solo en información de la wikipedia\n\n#Tareas\n- Tu función principal es responder a este emensaje\n{{ $json.chatInput }}\n\n- Utiliza información de la herramienta Wikipedia\n\n#Notas\n- Tus respuestas deben ser claras y concisas, no debes exceder los 200 caracteres",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        -60,
        0
      ],
      "id": "d858377a-0bcd-44f9-8a51-032c61e96bc4",
      "name": "AI Agent"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolWikipedia",
      "typeVersion": 1,
      "position": [
        200,
        160
      ],
      "id": "a5961b53-c7db-4a53-9613-06f8d09e1129",
      "name": "Wikipedia"
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Wikipedia": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "e0ff3af7-5a22-433b-86b2-8687555fa204",
  "meta": {
    "instanceId": "6b2a1bf005524a2b8f2bd3c91b03a93eaf531dc87c83148fa1d6bd925e15dadd"
  },
  "id": "XnyO1L7mhHFBj2HK",
  "tags": []
}